section.about.container
    .about-blok
        .about-blok_left
            h2 Anvirelle - Стильная одежда и обувь для детей и подростков
            p Anvirelle — стильная детская одежда и обувь для детей и подростков от 2 до 16 лет. Магазин для детей, которые ценят безупречный стиль.
            p Актуальные коллекции российских и зарубежных марок. В магазине представлены сезонные коллекции: от повседневных нарядов до школьной формы и праздничных костюмов. 

            p Магазин Anvirelle предлагает только качественные, модные и одновременно практичные вещи. Выбирая одежду здесь, вы с ранних лет прививаете ребенку хороший вкус!

            p Актуальные скидки и консультации стилистов ждут вас в фирменном бутике ТЦ «Океания» в ЗАО!

        .about-blok_right
            img(src="img/about.png", alt="")
            a(href="") Смотреть каталог