#add_rew(style="display: none")
    h2 Добавить отзыв
    form.form
        input(type="text" placeholder="Имя").form-inp
        input(type="text" placeholder="Email").form-inp
        textarea(placeholder="Комментарий").form-inp
        button Добавить отзыв   +
        .form-bottom
            label
                input(type="checkbox")
                span(class="checkmark")
                p Нажимая кнопку “Добавить отзыв”, вы автоматически соглашаетесь с 
                    a(href="")  политикой конфиденциальности 
                    |и
                    a(href="")  условиями оферты