footer.footer
    .container
        .footer-blok
            ul 
                li
                    p О нас
                li
                    a(href="") О компании
                li
                    a(href="") Подарочные сертификаты
                li
                    a(href="") Программа лояльности
                li
                    a(href="") Оставить отзыв
                li
                    a(href="") Контакты
            ul 
                li
                    p Помощь
                li
                    a(href="") Условия доставки
                li
                    a(href="") Как выбрать размер
                li
                    a(href="") Возврат
                li
                    a(href="") Часто задаваемые вопросы
                li
                    a(href="") Поддержка
            .footer-blok_social
                .footer-blok_social-item
                    a(href="") 
                        img(src="img/fb.svg", alt="" width="25" height="25")
                    a(href="") 
                        img(src="img/inst.svg", alt="" width="25" height="25")
                .footer-blok_social-item
                    a(href="") 
                        img(src="img/app.svg", alt="" width="25" height="25")
                    a(href="") 
                        img(src="img/play.svg", alt="" width="25" height="25")

            .footer-blok_name
                p Anvirelle 
                span © 2021