.header_logo
    .container
        .header_logo-content
            .header_logo-content-left
                ul 
                    li 
                        a(href="") Девочкам
                    li 
                        a(href="") Мальчикам
            img.burger(src="img/burger1.svg", alt="" width="26" height="26")
            .mobile-search
                svg(xmlns="http://www.w3.org/2000/svg" fill="none" height="24" stroke="black" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" width="24")
                    circle(cx="10.5" cy="10.5" r="7.5")
                    line(x1="21" x2="15.8" y1="21" y2="15.8")
                input(type="text").mobile-search_inp
            a.mobile-tel(href="tel:+74952207476") 
                img(src="img/phone.svg", alt="" width="26" height="26")
            a.logo(href="")
                img(src="img/logo.png", alt="") 
            a.mobile-fav(href="")
                .header_logo-content-right__favorite
                    img(src="img/heart.svg", alt=""  )
                    span 0
            a(href="").mobile-cart
                .header_logo-content-right__cart
                    img(src="img/cart.svg", alt="")
                    span 2
            .header_logo-content-right
                .header_logo-content-right__input
                    input(type="text")
                    svg(xmlns="http://www.w3.org/2000/svg" fill="none" height="24" stroke="rgba(0, 0, 1, 0.26)" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" width="24")
                        circle(cx="10.5" cy="10.5" r="7.5")
                        line(x1="21" x2="15.8" y1="21" y2="15.8")
                 
                a(href="") 
                    .header_logo-content-right__favorite
                        img(src="img/heart.svg", alt="")
                               
                        span 0
                a(href="") 
                    .header_logo-content-right__cart
                        img(src="img/cart.svg", alt="")
                        span 2
            
            .overlay.header_logo-content-mobile
                .header_logo-content-mobile_blok
                    svg.close(xmlns="http://www.w3.org/2000/svg" id="close" width="20" height="20" fill="none")
                        path(d="M13.656 14.345a.29.29 0 0 1-.206-.085L6.138 6.947a.291.291 0 0 1 .412-.412l7.311 7.313a.291.291 0 0 1-.205.497Z" fill="#288aca" fill-opacity="1")
                        path(d="M6.344 14.345a.29.29 0 0 1-.206-.497l7.313-7.313a.291.291 0 1 1 .412.412L6.55 14.26a.29.29 0 0 1-.206.085Z" fill="#288aca" fill-opacity="1")
                        path(d="M10.002 20C4.487 20 0 15.516 0 10.003 0 4.487 4.487 0 10.002 0 15.515 0 20 4.487 20 10.002 20 15.515 15.515 20 10.002 20Zm0-19.418c-5.194 0-9.42 4.226-9.42 9.42 0 5.192 4.226 9.416 9.42 9.416 5.192 0 9.415-4.224 9.415-9.417S15.194.582 10.002.582Z" fill="#288aca" fill-opacity="1")
                   
                    a.logo(href="")
                        img(src="img/logo.png", alt="")
                    //- button.catalog-btn  Каталог
                    ul.catalog-ul
                        li.m-li
                            a(href="") Одежда
                            svg(xmlns="http://www.w3.org/2000/svg" width="11" height="6" viewBox="0 0 11 6")
                                path(fill="#70b1dc" d="M.916.917c0 .202.077.404.232.557L5.502 5.8l4.355-4.325A.786.786 0 1 0 8.748.36L5.502 3.582 2.256.36a.786.786 0 0 0-1.34.558z")
                            .menu-second
                                ul
                                    li
                                        a(href="") Блузы
                                    li
                                        a(href="") Пиджаки
                                    li
                                        a(href="") Футболки и Поло
                                    li
                                        a(href="") Водолазки
                                    li
                                        a(href="") Ремни
                                    li
                                        a(href="") Шорты и Бриджи
                                    li
                                        a(href="") Галстуки и Бабочки
                                    li
                                        a(href="") Кардиганы
                                    li
                                        a(href="") Джемпера
                                    li
                                        a(href="") Легинсы
                        li.m-li
                            a(href="") Обувь
                            svg(xmlns="http://www.w3.org/2000/svg" width="11" height="6" viewBox="0 0 11 6")
                                path(fill="#70b1dc" d="M.916.917c0 .202.077.404.232.557L5.502 5.8l4.355-4.325A.786.786 0 1 0 8.748.36L5.502 3.582 2.256.36a.786.786 0 0 0-1.34.558z")
                            .menu-second
                                ul
                                    li
                                        a(href="") Блузы
                                    li
                                        a(href="") Пиджаки
                                    li
                                        a(href="") Футболки и Поло
                                    li
                                        a(href="") Водолазки
                                    li
                                        a(href="") Ремни
                                    li
                                        a(href="") Шорты и Бриджи
                                    li
                                        a(href="") Галстуки и Бабочки
                                    li
                                        a(href="") Кардиганы
                                    li
                                        a(href="") Джемпера
                                    li
                                        a(href="") Легинсы
                        li.m-li
                            a(href="") Аксессуары
                            svg(xmlns="http://www.w3.org/2000/svg" width="11" height="6" viewBox="0 0 11 6")
                                path(fill="#70b1dc" d="M.916.917c0 .202.077.404.232.557L5.502 5.8l4.355-4.325A.786.786 0 1 0 8.748.36L5.502 3.582 2.256.36a.786.786 0 0 0-1.34.558z")
                            .menu-second
                                ul
                                    li
                                        a(href="") Блузы
                                    li
                                        a(href="") Пиджаки
                                    li
                                        a(href="") Футболки и Поло
                                    li
                                        a(href="") Водолазки
                                    li
                                        a(href="") Ремни
                                    li
                                        a(href="") Шорты и Бриджи
                                    li
                                        a(href="") Галстуки и Бабочки
                                    li
                                        a(href="") Кардиганы
                                    li
                                        a(href="") Джемпера
                                    li
                                        a(href="") Легинсы
                        li.m-li
                            a(href="") Школьная форма
                            svg(xmlns="http://www.w3.org/2000/svg" width="11" height="6" viewBox="0 0 11 6")
                                path(fill="#70b1dc" d="M.916.917c0 .202.077.404.232.557L5.502 5.8l4.355-4.325A.786.786 0 1 0 8.748.36L5.502 3.582 2.256.36a.786.786 0 0 0-1.34.558z")
                            .menu-second
                                ul
                                    li
                                        a(href="") Блузы
                                    li
                                        a(href="") Пиджаки
                                    li
                                        a(href="") Футболки и Поло
                                    li
                                        a(href="") Водолазки
                                    li
                                        a(href="") Ремни
                                    li
                                        a(href="") Шорты и Бриджи
                                    li
                                        a(href="") Галстуки и Бабочки
                                    li
                                        a(href="") Кардиганы
                                    li
                                        a(href="") Джемпера
                                    li
                                        a(href="") Легинсы
                        li.m-li
                            a(href="") Новинки
                            svg(xmlns="http://www.w3.org/2000/svg" width="11" height="6" viewBox="0 0 11 6")
                                path(fill="#70b1dc" d="M.916.917c0 .202.077.404.232.557L5.502 5.8l4.355-4.325A.786.786 0 1 0 8.748.36L5.502 3.582 2.256.36a.786.786 0 0 0-1.34.558z")
                            .menu-second
                                ul
                                    li
                                        a(href="") Блузы
                                    li
                                        a(href="") Пиджаки
                                    li
                                        a(href="") Футболки и Поло
                                    li
                                        a(href="") Водолазки
                                    li
                                        a(href="") Ремни
                                    li
                                        a(href="") Шорты и Бриджи
                                    li
                                        a(href="") Галстуки и Бабочки
                                    li
                                        a(href="") Кардиганы
                                    li
                                        a(href="") Джемпера
                                    li
                                        a(href="") Легинсы
                        li.m-li
                            a(href="").pink  Распродажа
                            svg(xmlns="http://www.w3.org/2000/svg" width="11" height="6" viewBox="0 0 11 6")
                                path(fill="#e04c95" d="M.916.917c0 .202.077.404.232.557L5.502 5.8l4.355-4.325A.786.786 0 1 0 8.748.36L5.502 3.582 2.256.36a.786.786 0 0 0-1.34.558z")
                            .menu-second
                                ul
                                    li
                                        a(href="") Блузы
                                    li
                                        a(href="") Пиджаки
                                    li
                                        a(href="") Футболки и Поло
                                    li
                                        a(href="") Водолазки
                                    li
                                        a(href="") Ремни
                                    li
                                        a(href="") Шорты и Бриджи
                                    li
                                        a(href="") Галстуки и Бабочки
                                    li
                                        a(href="") Кардиганы
                                    li
                                        a(href="") Джемпера
                                    li
                                        a(href="") Легинсы
                    ul.main-ul
                        li 
                            a(href="") О нас
                        li 
                            a(href="") Доставка и оплата
                        li 
                            a(href="") Контакты
                        li 
                            a(href="") Личный кабинет
                        li
                            a.tel(href="tel:+74952207476") 
                                img(src="img/phone.svg", alt="" width="20" height="20")
                                |+7 495 220-74-76
                    .header_top-content--left
                        img(src="img/geo.svg", alt="")
                        p ТРЦ Океания  
                            span /
                            |ТРЦ Европолис
            
                        
.header_logo-content-left.mobile-gender
        ul 
            li 
                a(href="") Девочкам
            li 
                a(href="") Мальчикам