.header_menu
    .container.header_menu-item
        ul
            li
                a(href="") 
                    | Одежда
                    svg(xmlns="http://www.w3.org/2000/svg" width="11" height="6" viewBox="0 0 11 6")
                        path(fill="#70b1dc" d="M.916.917c0 .202.077.404.232.557L5.502 5.8l4.355-4.325A.786.786 0 1 0 8.748.36L5.502 3.582 2.256.36a.786.786 0 0 0-1.34.558z")
                    img.arr(src="img/arrow_menu_active.png", alt="" style="z-index: 999;")
                .menu-li-item(style="z-index: 99;")
                    .menu-li
                        .menu-li_content
                            ul 
                                li 
                                    a(href="") Блузы
                                li 
                                    a(href="") Пиджаки
                                li 
                                    a(href="") Футболки и Поло
                            ul 
                                li 
                                    a(href="") Водолазки
                                li 
                                    a(href="") Ремни
                                li 
                                    a(href="") Шорты и Бриджи
                            ul 
                                li 
                                    a(href="") Галстуки и Бабочки
                                li 
                                    a(href="") Кардиганы
                            
                            ul 
                                li 
                                    a(href="") Джемпера
                                li 
                                    a(href="") Легинсы

                
            li
                a(href="") 
                    |Обувь
                    svg(xmlns="http://www.w3.org/2000/svg" width="11" height="6" viewBox="0 0 11 6")
                        path(fill="#70b1dc" d="M.916.917c0 .202.077.404.232.557L5.502 5.8l4.355-4.325A.786.786 0 1 0 8.748.36L5.502 3.582 2.256.36a.786.786 0 0 0-1.34.558z")
                    img.arr(src="img/arrow_menu_active.png", alt="" style="z-index: 999;")
                .menu-li-item(style="z-index: 99;")
                    .menu-li
                        .menu-li_content
                            ul 
                                li 
                                    a(href="") Блузы
                                li 
                                    a(href="") Пиджаки
                                li 
                                    a(href="") Футболки и Поло
                            ul 
                                li 
                                    a(href="") Водолазки
                                li 
                                    a(href="") Ремни
                                li 
                                    a(href="") Шорты и Бриджи
                            ul 
                                li 
                                    a(href="") Галстуки и Бабочки
                                li 
                                    a(href="") Кардиганы
                            
                            ul 
                                li 
                                    a(href="") Джемпера
                                li 
                                    a(href="") Легинсы
            li
                a(href="") 
                    |Аксессуары
                    svg(xmlns="http://www.w3.org/2000/svg" width="11" height="6" viewBox="0 0 11 6")
                        path(fill="#70b1dc" d="M.916.917c0 .202.077.404.232.557L5.502 5.8l4.355-4.325A.786.786 0 1 0 8.748.36L5.502 3.582 2.256.36a.786.786 0 0 0-1.34.558z")
                    img.arr(src="img/arrow_menu_active.png", alt="" style="z-index: 999;")
                .menu-li-item(style="z-index: 99;")
                    .menu-li
                        .menu-li_content
                            ul 
                                li 
                                    a(href="") Блузы
                                li 
                                    a(href="") Пиджаки
                                li 
                                    a(href="") Футболки и Поло
                            ul 
                                li 
                                    a(href="") Водолазки
                                li 
                                    a(href="") Ремни
                                li 
                                    a(href="") Шорты и Бриджи
                            ul 
                                li 
                                    a(href="") Галстуки и Бабочки
                                li 
                                    a(href="") Кардиганы
                            
                            ul 
                                li 
                                    a(href="") Джемпера
                                li 
                                    a(href="") Легинсы
            li
                a(href="") 
                    |Школьная форма
                    svg(xmlns="http://www.w3.org/2000/svg" width="11" height="6" viewBox="0 0 11 6")
                        path(fill="#70b1dc" d="M.916.917c0 .202.077.404.232.557L5.502 5.8l4.355-4.325A.786.786 0 1 0 8.748.36L5.502 3.582 2.256.36a.786.786 0 0 0-1.34.558z")
                    img.arr(src="img/arrow_menu_active.png", alt="" style="z-index: 999;")
                .menu-li-item(style="z-index: 99;")
                    .menu-li
                        .menu-li_content
                            ul 
                                li 
                                    a(href="") Блузы
                                li 
                                    a(href="") Пиджаки
                                li 
                                    a(href="") Футболки и Поло
                            ul 
                                li 
                                    a(href="") Водолазки
                                li 
                                    a(href="") Ремни
                                li 
                                    a(href="") Шорты и Бриджи
                            ul 
                                li 
                                    a(href="") Галстуки и Бабочки
                                li 
                                    a(href="") Кардиганы
                            
                            ul 
                                li 
                                    a(href="") Джемпера
                                li 
                                    a(href="") Легинсы
            li
                a(href="") 
                    |Новинки
                    svg(xmlns="http://www.w3.org/2000/svg" width="11" height="6" viewBox="0 0 11 6")
                        path(fill="#70b1dc" d="M.916.917c0 .202.077.404.232.557L5.502 5.8l4.355-4.325A.786.786 0 1 0 8.748.36L5.502 3.582 2.256.36a.786.786 0 0 0-1.34.558z")
                    img.arr(src="img/arrow_menu_active.png", alt="" style="z-index: 999;")
                .menu-li-item(style="z-index: 99;")
                    .menu-li
                        .menu-li_content
                            ul 
                                li 
                                    a(href="") Блузы
                                li 
                                    a(href="") Пиджаки
                                li 
                                    a(href="") Футболки и Поло
                            ul 
                                li 
                                    a(href="") Водолазки
                                li 
                                    a(href="") Ремни
                                li 
                                    a(href="") Шорты и Бриджи
                            ul 
                                li 
                                    a(href="") Галстуки и Бабочки
                                li 
                                    a(href="") Кардиганы
                            
                            ul 
                                li 
                                    a(href="") Джемпера
                                li 
                                    a(href="") Легинсы
                          

            li.pink
                a(href="") 
                    |Распродажа
                    svg(xmlns="http://www.w3.org/2000/svg" width="11" height="6" viewBox="0 0 11 6")
                        path(fill="#70b1dc" d="M.916.917c0 .202.077.404.232.557L5.502 5.8l4.355-4.325A.786.786 0 1 0 8.748.36L5.502 3.582 2.256.36a.786.786 0 0 0-1.34.558z")
                    img.arr(src="img/arrow_menu_active.png", alt="" style="z-index: 999;")
                .menu-li-item(style="z-index: 99;")
                    .menu-li
                        .menu-li_content
                            ul 
                                li 
                                    a(href="") Блузы
                                li 
                                    a(href="") Пиджаки
                                li 
                                    a(href="") Футболки и Поло
                            ul 
                                li 
                                    a(href="") Водолазки
                                li 
                                    a(href="") Ремни
                                li 
                                    a(href="") Шорты и Бриджи
                            ul 
                                li 
                                    a(href="") Галстуки и Бабочки
                                li 
                                    a(href="") Кардиганы
                            
                            ul 
                                li 
                                    a(href="") Джемпера
                                li 
                                    a(href="") Легинсы
