.header_top
    .container.header_top-content
        .header_top-content--left
           img(src="img/geo.svg", alt="")
           p ТРЦ Океания  
            span /
            |ТРЦ Европолис
        .header_top-content--right
            a.tel(href="tel:+74952207476") 
                img(src="img/phone.svg", alt="")
                |+7 495 220-74-76
            ul 
                li 
                    a(href="") О нас
                li 
                    a(href="") Доставка и оплата
                li 
                    a(href="") Контакты
                li 
                    a(href="") Личный кабинет
