section.container.popular
    h2 Популярные разделы
    .popular-blok
        .popular-blok_item
            a(href="") 
                .popular-blok_item-blok(style="background-image: url('img/popular1.png')")
                    p  Одежда
                
        .popular-blok_item
            a(href="") 
                .popular-blok_item-blok(style="background-image: url('img/popular2.png')")
                    p  Обувь
            a(href="") 
                .popular-blok_item-blok(style="background-image: url('img/popular3.png')")
                    p  Головные уборы
        .popular-blok_item
            a(href="") 
                .popular-blok_item-blok(style="background-image: url('img/popular4.png')")
                    p  Школьная форма
