section.container.slider
    .owl-carousel.top-slider
        .slider-item(style="background-image: url('img/slider_bg.png')")
            .slider-item_content
                p Sport kids :)
                span Коллекция спортивной детской одежды 2021
                a(href="") смотреть
        .slider-item(style="background-image: url('img/slider_bg2.png')")
            .slider-item_content
                p Sport kids :)
                span Коллекция спортивной детской одежды 2021
                a(href="") смотреть
        .slider-item(style="background-image: url('img/slider_bg.png')")
            .slider-item_content
                p Sport kids :)
                span Коллекция спортивной детской одежды 2021
                a(href="") смотреть