extends ../layout/layout.pug

block variables
	- var title = 'Anvrelle | Коллекция спортивной детской одежды 2021';

block links
	- var link = 'catalog.css';

block scripts
	- var js = 'index.js';

block header
	include ../blocks/header.pug
	

block content
	
	include ../blocks/product2.pug



block footer
	include ../blocks/footer.pug
	