extends ../layout/layout.pug

block variables
	- var title = 'Anvrelle | Коллекция спортивной детской одежды 2021';

block links
	- var link = 'fav.css';

block scripts
	- var js = 'index.js';

block header
	include ../blocks/header.pug
	

block content
	section.product.container.fav
		.product-content
			.tabs
				ul.tabs-nav 
					li
						a(href="#tab-1") 
							|Корзина
							
					li 
						a(href="#tab-2") 
							|Избранное 
							
				.tabs-stage
					.tabs-item#tab-1
						.cart-product
							.cart-product-left
								.cart-product-left_item
									.d-f
										img(src="img/cart_img.png", alt="")
										p.title Боди,с длинным рукавом lorem ipsum
										.cart-product-left_item-size 
											p Размер
											button 134
										.cart-product-left_item-count
											p Количество:
											.cart-product-left_item-count-btn
												button -
												p 1
												button +
									.d-f
										.price-blok
											p.sale-price 5 400 
											.price-blok_item
												p 9 400 ₽
												span -10%
										button.h-btn
											img(src="img/heart.svg", alt="" width="30" height="30")
										button.delete
											svg(id="SVGDoc" width="13" height="14" xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:avocode="https://avocode.com/" viewBox="0 0 13 14")
												path(d="M0.72352,0.92529c-0.29966,0.29966 -0.29966,0.78594 0,1.08597l10.85849,10.85804c0.29999,0.30041 0.7862,0.30041 1.08597,0c0.29966,-0.29966 0.29966,-0.78557 0,-1.08541l-10.85838,-10.8586c-0.29988,-0.30003 -0.78609,-0.30003 -1.08609,0z" fill="black" fill-opacity="1")
												path(d="M12.66505,0.92529c0.29977,0.29966 0.29977,0.78594 0,1.08597l-10.85838,10.85804c-0.29988,0.30041 -0.78609,0.30041 -1.08586,0c-0.29999,-0.29966 -0.29999,-0.78557 0,-1.08541l10.85849,-10.8586c0.29977,-0.30003 0.78598,-0.30003 1.08575,0z" fill="black" fill-opacity="1")
								.cart-product-left_item
									.d-f
										img(src="img/cart_img.png", alt="")
										p.title Боди,с длинным рукавом lorem ipsum
										.cart-product-left_item-size 
											p Размер
											button 134
										.cart-product-left_item-count
											p Количество:
											.cart-product-left_item-count-btn
												button -
												p 1
												button +
									.d-f
										.price-blok
											p.sale-price 5 400 
											.price-blok_item
												p 9 400 ₽
												span -10%
										button.h-btn
											img(src="img/heart.svg", alt="" width="30" height="30")
										button.delete
											svg(id="SVGDoc" width="13" height="14" xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:avocode="https://avocode.com/" viewBox="0 0 13 14")
												path(d="M0.72352,0.92529c-0.29966,0.29966 -0.29966,0.78594 0,1.08597l10.85849,10.85804c0.29999,0.30041 0.7862,0.30041 1.08597,0c0.29966,-0.29966 0.29966,-0.78557 0,-1.08541l-10.85838,-10.8586c-0.29988,-0.30003 -0.78609,-0.30003 -1.08609,0z" fill="black" fill-opacity="1")
												path(d="M12.66505,0.92529c0.29977,0.29966 0.29977,0.78594 0,1.08597l-10.85838,10.85804c-0.29988,0.30041 -0.78609,0.30041 -1.08586,0c-0.29999,-0.29966 -0.29999,-0.78557 0,-1.08541l10.85849,-10.8586c0.29977,-0.30003 0.78598,-0.30003 1.08575,0z" fill="black" fill-opacity="1")
							.cart-product-right
								p.cart-p Корзина
								form.form
									input(type="text" placeholder="Промокод для скидки")
									button применить
								span.pink Применена скидка 10%
								.cart-product-right-title
									.cart-product-right-title_p
										p Товары (2):
										span 10 420 р.
									.cart-product-right-title_p
										p Скидка:
										span 990 р.
								.cart-product-right-total
									p Итого:
									span 10 920 р.
								a(href="") Оформить заказ
									

						


					.tabs-item#tab-2.over-tab
						.product-item
							.product-item__top
								img.new(src="img/new.png", alt="" width="50" height="50")
								.product-item__top-heart(style="z-index: 9;" title="Убрать из избранного")
									img(src="img/heart.svg", alt="" width="15" height="13")
								.owl-carousel.product-slider.cd-hover-gal
									img(src="img/product1.png", alt="")
									img(src="img/product2.png", alt="")
									img(src="img/product3.png", alt="")
							.product-item__bottom
								a(href="").title Блуза 
								a(href="").cat Блузы (17)  
								p 4 400 ₽
								.product-item__bottom-hide(style="z-index:99")  
									a(href="")
										|Добавить в корзину
										img(src="img/cart.svg", alt="" width="18" height="20") 
									.size
										button 42
										button 44
										button.gray 46
										button 48
									.color
										button.black
										button.white
										button.brown
						.product-item
							.product-item__top
								img.new(src="img/new.png", alt="" width="50" height="50")
								.product-item__top-heart(style="z-index: 9;" title="Убрать из избранного")
									img(src="img/heart.svg", alt="" width="15" height="13")
								.owl-carousel.product-slider.cd-hover-gal
									img(src="img/product2.png", alt="")
									img(src="img/product1.png", alt="")
									img(src="img/product3.png", alt="")
							.product-item__bottom
								a(href="").title Шорты трикотаж lorem ipsum
								a(href="").cat Шорты (35)
								p 3 400 ₽
								.product-item__bottom-hide(style="z-index:99")  
									a(href="")
										|Добавить в корзину
										img(src="img/cart.svg", alt="" width="18" height="20") 
									.size
										button 42
										button 44
										button.gray 46
										button 48
									.color
										button.black
										button.white
										button.brown
						.product-item
							.product-item__top
								img.new(src="img/new.png", alt="" width="50" height="50")
								.product-item__top-heart(style="z-index: 9;" title="Убрать из избранного")
									img(src="img/heart.svg", alt="" width="15" height="13")
								.owl-carousel.product-slider.cd-hover-gal
									img(src="img/product3.png", alt="")
									img(src="img/product2.png", alt="")
									img(src="img/product1.png", alt="")
							.product-item__bottom
								a(href="").title Спортивный костюм
								a(href="").cat Спортивные костюмы (29)  
								.price-blok
									p 5 400 ₽
									.price-blok_item
										p 9 400
										span 15%
								.product-item__bottom-hide(style="z-index:99")  
									a(href="")
										|Добавить в корзину
										img(src="img/cart.svg", alt="" width="18" height="20") 
									.size
										button 42
										button 44
										button.gray 46
										button 48
									.color
										button.black
										button.white
										button.brown
						.product-item
							.product-item__top
								img.new(src="img/new.png", alt="" width="50" height="50")
								.product-item__top-heart(style="z-index: 9;" title="Убрать из избранного")
									img(src="img/heart.svg", alt="" width="15" height="13")
								.owl-carousel.product-slider.cd-hover-gal
									img(src="img/product4.png", alt="")
									img(src="img/product2.png", alt="")
									img(src="img/product3.png", alt="")
							.product-item__bottom
								a(href="").title Спортивный костюм
								a(href="").cat Спортивные костюмы (29)
								p 1 400 ₽
								.product-item__bottom-hide(style="z-index:99")  
									a(href="")
										|Добавить в корзину
										img(src="img/cart.svg", alt="" width="18" height="20") 
									.size
										button 42
										button 44
										button.gray 46
										button 48
									.color
										button.black
										button.white
										button.brown




block footer
	include ../blocks/footer.pug
	