extends ../layout/layout.pug

block variables
	- var title = 'Anvrelle | Коллекция спортивной детской одежды 2021';

block links
	- var link = 'main.css';

block scripts
	- var js = 'index.js';

block header
	include ../blocks/header.pug
	

block content
	include ../blocks/slider.pug
	include ../blocks/product.pug
	include ../blocks/popular.pug
	include ../blocks/map.pug
	include ../blocks/about.pug


block footer
	include ../blocks/footer.pug
	